body{
    background-color: darkblue;
    overflow-y: hidden;
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: auto;
    margin-top: -25px;

}

.text{
    color: white;
    font-size: 25px;
    margin-top: auto;
}

.all{
    width: 150px;
    height: 150px;
    font-size: 24px;
    margin: auto;
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

}

.text{
    color: white;
    font-size: 20px;
    margin-left: 95px;
}

.all{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-areas: 
    'header1 . header3 header3'
    'header1 section2 section2 section4'
    '. . section7 section4'
    'footer1 footer1 section7 footer4'
    '. footer6 footer6 .';
}

.grid-1{
    background-color: white;
    padding: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header1;

}

.grid-2{
    background-color: white;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-3{
    background-color: white;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header3;
}

.grid-4{
    background-color: white;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-5{
    background-color: white;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}   

.grid-6{
    background-color: white;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: section2;
}

.grid-7{
    background-color: white;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-8{
    background-color: white;
    padding: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: section4;
    
}

.grid-9{
    background-color: white;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: footer1;
}

.grid-10{
    background-color: white;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-11{
    background-color: white;
    padding: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: section7;
}

.grid-12{
    background-color: white;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: footer6;
}

.grid-13{
    background-color: white;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

